<div class="panel panel-default" v-for="(app, index) in sort(search(apps,status.search),status.order,status.orderBy)"
    :key="index">
    <div class="panel-heading">
        <strcolor v-bind:search="status.search" v-bind:text="app.name"></strcolor>
        <small v-if="app.info.plist">版本:{{app.info.plist.CFBundleShortVersionString}}</small>
        <small v-if="app.info.plist">包:{{app.info.plist.CFBundleIdentifier}}</small>
        <small v-if="app.info.plist">应用:{{app.info.plist.CFBundleName}}</small>
    </div>
    <div class="panel-body">
        <div class="media">
            <div class="media-action pull-right">
                <button v-if="!app.info.size" type="button" class="btn btn-success btn-xs" v-on:click="appinfo(app)"
                    v-bind:disabled="app.loading">
                    <i v-if="app.loading" class="fa fa-spinner fa-pulse"></i> 应用信息
                </button>
                <button v-if="app.info.size" type="button" class="btn btn-info btn-xs" v-on:click="apprules(app)"
                    v-bind:disabled="app.info.loading">
                    <i v-if="app.info.loading" class="fa fa-spinner fa-pulse"></i> 分析文件
                </button>
            </div>
            <div class="media-left">
                <img v-if="app.info.icon" :src="app.info.icon" class="media-object">
                <div v-if="!app.info.icon" class="media-object">
                    <i class="fa fa-cube"></i>
                </div>
            </div>
            <div class="media-body">
                <div>位置:
                    <strcolor v-bind:search="status.search" v-bind:text="app.filepath"></strcolor>
                </div>
                <div>大小:{{app.info.size?app.info.size:'正在计算...'}}</div>
                <div>访问时间:
                    <timestr v-bind:time="app.atimeMs"></timestr>
                </div>
                <div>修改时间:
                    <timestr v-bind:time="app.mtimeMs"></timestr>
                </div>
                <div>创建时间:
                    <timestr v-bind:time="app.birthtimeMs"></timestr>
                </div>
            </div>
            <!-- 延迟显示定位点 -->
            <lazy-component v-if="app.name" @show="lazyshow(app)"></lazy-component>
        </div>
        <app-rules v-if="app.info.rules" v-bind:rules="app.info.rules"></app-rules>
    </div>
</div>